<fieldset id="address">
  <legend>Adresse : </legend>
    <div class="control-group">
      <%= f.label "Adresse : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :line1, :class => 'text_field', :style => "width:100%;height:100px"  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Complément : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :line2, :class => 'text_field', :style => "width:100%;height:100px"  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Ville : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, :class => 'text_field'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Zip : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :zip, :class => 'text_field'  %>
      </div>
    </div>

   <%= f.input :state, :as => "select", :label => "Région" %>

    <div class="control-group">
      <%= f.label "Pays", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :country, 'country'   %>
      </div>
    </div>
</fieldset>
"
