<fieldset id="address">
  <legend>Adresse : </legend>
    <div class="control-group">
      <%= f.label "Adresse : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :line1, :class => 'text_field', :style => "width:100%;height:100px"  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Complément : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :line2, :class => 'text_field', :style => "width:100%;height:100px"  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Ville : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, :class => 'text_field'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Zip : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :zip, :class => 'text_field'  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Région / Etat : ", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :state, :class => 'text_field typeahead', "data-provide" => "typeahead" %>
      </div>
    </div>
    
    <script>
    $('.typeahead').typeahead();

    ["Alsace",
	"Aquitaine",
	"Auvergne",
	"Basse-Normandie",
	"Bourgogne",
	"Bretagne",
	"Centre",
	"Champagne-Ardenne",
	"Corse",
	"Franche-Comté",
	"Guadeloupe",
	"Guyane",
	"Haute-Normandie",
	"Île-de-France",
	"La Réunion",
	"Languedoc-Roussillon",
	"Limousin",
	"Lorraine",
	"Martinique",
	"Midi-Pyrénées",
	"Nord-Pas-de-Calais",
	"Pays de la Loire",
	"Picardie",
	"Poitou-Charentes",
	"Provence-Alpes-Côte d'Azur",
	"Rhône-Alpes"]
	</script>
	

    <div class="control-group">
      <%= f.label "Pays", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :country, 'country'   %>
      </div>
    </div>
</fieldset>
"
