   <h4><li class="icon-search"></li> Rechercher un évènement</h4>
	<%= form_tag "/events/search", :class => 'well' do |f| %>
	  
	<!--
	  <div class="control-group">
		<b>Région</b>
		<div class="controls">
	    <%= select_tag "Région", options_for_select(Address::STATES_LIST), :style => "width:100%" %>
	  </div></div>
	-->
	  <div class="control-group">
		<b>Mois de l'évènement</b>	
	  <div class="controls">
	  <%= select_tag "mois", options_for_select([["Indifférent",-1],["Janvier",1],["Février",2],["Mars",3],["Avril",4],["Mai",5],["Juin",6],["Juillet",7],["Août",8],["Septembre",9],["Octobre",10],["Novembre",11],["Décembre",12]], params[:mois]), :style => "width:100%" %>
	  </div></div>
	 
	
	  <div class="control-group">
		<li class="icon-tag"></li><b> Type de salon</b>
		<div class="controls" style="padding-top:5px">
	 <% Tag.typology.each do |t| %>
	     <% if params[:search] != nil %>
	     <p><%= check_box_tag "search[tag_list][]", t.name, params[:search][:tag_list].include?(t.name)  %>
		 <% else %>
		 <p><%= check_box_tag "search[tag_list][]", t.name, false %>
		 <% end %>
	    <%= t.name %></p>
	  <% end %>
	  </div></div>
	  <div class="control-group">
		<li class="icon-tag"></li><b> Thème</b>
		<div class="controls" style="padding-top:5px">
	  <% Tag.theme.each do |t| %>
	    <% if params[:search] != nil %>
	    <p><%= check_box_tag "search[tag_list][]", t.name, params[:search][:tag_list].include?(t.name)  %>
		<% else %>
		<p><%= check_box_tag "search[tag_list][]", t.name, false %>
		<% end %>
	    <%= t.name %></p>
	  <% end %>
	  
	  </div></div>
	  <button type="submit" class="btn btn-info">Rechercher</button>
	<% end %>
