<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Editer évènement</legend>

    <div class="control-group">
      <%= f.label "Evènement", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <label>Date de la manifestation</label>
      <div class="input controls">
        <div class="inline-inputs">
	      from
	      
	      <input class="small" id="event_begin_date" name="event[begin_date]" size="30" type="text" value="<%= @event.begin_date %>" data-datepicker="datepicker" />
          to
          <input class="small" id="event_end_date" name="event[end_date]" size="30" type="text" value="<%= @event.end_date %>" data-datepicker="datepicker" />
          <span class="help-block">All times are shown as Pacific Standard Time (GMT -08:00).</span>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Fonctionnement et Description", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area', :style => "width:100%;height:100px"  %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label "Fréquentation", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :attendance, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Contacts", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :contacts, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Modalités de participation", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :how_to_participate, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Tarifs", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :registration_fees, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Type de Participants", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :participants, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Evénements rattachés", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :related_events, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Informations supplémentaires", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :infos_extra, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <%= f.fields_for :address do |address| %>
     <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>
    
	<fieldset id="tags">
	  <legend>Tags : </legend>
	  <div class="control-group">
		<%= f.label "Typologie", :class => 'control-label' %>
      <div class="controls">
	    <select multiple="multiple" id="multiSelect" style="height:200px;width:100%">
		  <% Tag.typology.each do |t| %>
		         <option><%= t.name %></option>
		  <% end %>
		  </select>
      </div>
      </div>
	  <div class="control-group">
		<%= f.label "Thématique", :class => 'control-label' %>
      <div class="controls">
	    <select multiple="multiple" id="multiSelect" style="height:200px;width:100%">
		  <% Tag.theme.each do |t| %>
		         <option><%= t.name %></option>
		  <% end %>
		  </select>
      </div>
      </div>
	</fieldset>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<script src="http://dl.dropbox.com/u/143355/datepicker/bootstrap-datepicker.js"></script>
    <script>
      /* Update datepicker plugin so that MM/DD/YYYY format is used. */
      $.extend($.fn.datepicker.defaults, {
        parse: function (string) {
          var matches;
          if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
            return new Date(matches[3], matches[1] - 1, matches[2]);
          } else {
            return null;
          }
        },
        format: function (date) {
          var
            month = (date.getMonth() + 1).toString(),
            dom = date.getDate().toString();
          if (month.length === 1) {
            month = "0" + month;
          }
          if (dom.length === 1) {
            dom = "0" + dom;
          }
          return month + "/" + dom + "/" + date.getFullYear();
        }
      });  
    </script>