<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Editer évènement</legend>


    <%= f.input :name, :label => "Evènement", :placeholder => "Nom de la manifestation " %>
 
    <div class="control-group">
      <%= f.label "Date de début", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :begin_date, :class => 'date_select', "data-datepicker" => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Date de fin", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :end_date, :class => 'date_select', "data-datepicker" => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Date limite d'inscription", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :subscibe_limit_date, :class => 'date_select', "data-datepicker" => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Fonctionnement et Description", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area tiny', :style => "width:100%;height:100px"  %>
        <span class="help-inline">Date de création, description brève, périodicité de l’événement et sa durée.</span>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label "Fréquentation", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :attendance, :class => 'text_area' %>
        <span class="help-inline">Nombre de visiteurs de la / des dernière(s) édition(s)</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Contacts", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :contacts, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
        <span class="help-inline">Nom, fonction, numéro de téléphone, adresse électronique et site web.</span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Modalités de participation", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :how_to_participate, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
        <span class="help-inline">Démarche à suivre pour les éditeurs et pour les auteurs</span> 
     </div>
    </div>
    <div class="control-group">
      <%= f.label "Tarifs", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :registration_fees, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
        <span class="help-inline">Prix du m2, des stands nus, aménagés, etc.</span> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Type de Participants", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :participants, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
        <span class="help-inline">Nombre, type d’exposants et/ou invités.</span>  
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Evénements rattachés", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :related_events, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
        <span class="help-inline">Animations, prix liés à la manifestation et comment y participer.</span> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Informations supplémentaires", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :infos_extra, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
        <span class="help-inline">Hébergement, transport, librairies partenaires, etc.</span> 
      </div>
    </div>

    <%= f.fields_for :address do |address| %>
     <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>
	<fieldset id="tags">
	  <legend>Tags : </legend>
	  <div class=" span4">
		<%= f.label "Type de salon", :class => 'control-label' %>
      	<div class="controls">
		      <% Tag.typology.each do |t| %>
		         
			         <%= check_box_tag "event[typology_list][]", t.name, @event.typology_list.include?(t.name) %>
					 <%= t.name %><br/>
			  <% end %>		  
	      </div>
      </div>
      
	  <div class="span4">
		<%= f.label "Thématique", :class => 'control-label' %>
      <div class="controls">
	      <% Tag.theme.each do |t| %>
		         
		         <%= check_box_tag "event[theme_list][]", t.name, @event.theme_list.include?(t.name) %>
				 <%= t.name %><br/>
		  <% end %>
		  
      </div>
      </div>
	</fieldset>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', :value => "Sauver" %>
      <%= link_to 'Annuler', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

