<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Editer évènement</legend>

    <div class="control-group">
      <%= f.label "Evènement", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Date de début", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :begin_date, :class => 'date_select', "data-datepicker" => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Date de fin", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :end_date, :class => 'date_select', "data-datepicker" => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Date limite d'inscription", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :subscibe_limit_date, :class => 'date_select', "data-datepicker" => "datepicker" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Fonctionnement et Description", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area tiny', :style => "width:100%;height:100px"  %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label "Fréquentation", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :attendance, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Contacts", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :contacts, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Modalités de participation", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :how_to_participate, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Tarifs", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :registration_fees, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Type de Participants", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :participants, :class => 'text_area', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Evénements rattachés", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :related_events, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Informations supplémentaires", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :infos_extra, :class => 'text_area tiny', :style => "width:100%;height:100px" %>
      </div>
    </div>

    <%= f.fields_for :address do |address| %>
     <%= render :partial => 'shared/address', :locals => {:f => address} %>
    <% end %>
    
	<fieldset id="tags">
	  <legend>Tags : </legend>
	  <div class="control-group">
		<%= f.label "Type de salon", :class => 'control-label' %>
      <div class="controls">
	      <% Tag.typology.each do |t| %>
		         
		         <%= check_box_tag "event[typology_list][]", t.name, @event.typology_list.include?(t.name) %>
				 <%= t.name %>
		  <% end %>
		  
      </div>
      </div>
	  <div class="control-group">
		<%= f.label "Thématique", :class => 'control-label' %>
      <div class="controls">
	      <% Tag.theme.each do |t| %>
		         
		         <%= check_box_tag "event[theme_list][]", t.name, @event.theme_list.include?(t.name) %>
				 <%= t.name %>
		  <% end %>
		  
      </div>
      </div>
	</fieldset>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', :value => "Sauver" %>
      <%= link_to 'Annuler', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

