<h1>Evènements</h1>


<table class="table">
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td style="width:120px">
	    <%= link_to (image_tag "http://maps.googleapis.com/maps/api/staticmap?size=120x120&sensor=true&zoom=4&markers=#{event.address.latitude}%2C#{event.address.longitude}", :border=>0, :height => "120", :width => "120"), event_path(event) %>
	    </td>
	    <td>
        <h3><%= link_to event.name, event_path(event) %></h3>
        <p><%= raw truncate (sanitize event.description, :tags => %w(h1 a)), :length => 250, :omission => '...' %></p>
         <%= raw "<b>Date limite d'inscription : </b>" + event.subscibe_limit_date.strftime('%d/%m/%Y') + "<br/>" if !event.subscibe_limit_date.nil?  %> 
        <% if !event.begin_date.nil? && !event.end_date.nil?  %>
	     <% if  event.begin_date.strftime('%d/%m/%Y') == event.end_date.strftime('%d/%m/%Y')  %>
		  <%= "évènement le " + event.begin_date.strftime('%d/%m/%Y')  %>
		<% else %>
		  <%= "évènement du " + event.begin_date.strftime('%d/%m/%Y') %> au <%= event.end_date.strftime('%d/%m/%Y') %>
		<% end %>
		<% end %>
	     <%= raw "à <b>" + event.address.city + "</b>" if !event.address.city.nil? %>
        </td>
        <td>
          <%= link_to 'Editer', edit_event_path(event), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @events, :previous_label => "Précédent", :next_label => "Suivant" %>

<%= link_to 'Nouveau', new_event_path, :class => 'btn btn-primary' %>
<br/>

