<h1>Evènements</h1>
<table class="table table-striped">
  <thead>
    <tr>
	  <th></th>
      <th>Nom</th>
      <th>Date limite d'inscription</th>
      <th>Date de l'évènement</th>
      <th>Ville</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
	    
	    <%= link_to (image_tag "http://maps.googleapis.com/maps/api/staticmap?size=175x175&sensor=true&zoom=4&markers=#{event.address.latitude}%2C#{event.address.longitude}", :border=>0), event_path(event) %>
	    </td>
	    <td>
        <%= link_to event.name, event_path(event) %>
        <p><%= raw truncate (sanitize event.description, :tags => %w(h1 a)), :length => 400, :omission => '...' %></p>
        </td>
        <td><%= event.subscibe_limit_date %></td>
		<td><%= event.begin_date %></td>
		<td><% %></td>
        <td>
          <%= link_to 'Editer', edit_event_path(event), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @events %>

<%= link_to 'Nouveau', new_event_path, :class => 'btn btn-primary' %>
<br/>

