<h1>Résultat(s) de recherche</h1>

<div class="container" style="padding-bottom:10px;padding-top:10px">
<% @events.each do |event| %>
<div class="span3">
<div class="thumbnail">
	<% unless event.address.nil? || event.address.latitude.nil? %>
	<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=260x180&sensor=false&zoom=5&markers=#{event.address.latitude}%2C#{event.address.longitude}" %>
	<br/>
	<% end %>
	<div class="caption">
		<h5><%= link_to event.name, event_path(event) %></h5>
		<p><%= event.description %></p>
		<p><b><%= event.typology_list %></b></p>
		<p><b><%= event.theme_list %></b></p>
		<p>
			<%= link_to 'Editer', edit_event_path(event), :class => 'btn btn-mini' %>
	          <%= link_to 'Supprimer', event_path(event), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		</p>
	</div>
</div>
</div>
<% end %>
</div>
