<h1><%= @events.count %> résultat(s) de recherche</h1>

<div class="container" style="padding-bottom:10px;padding-top:10px">
<% @events.each do |event| %>
<div class="span3 file">
<div class="thumbnail" style="padding-top:10px;margin-top:10px;height:420px">
	<% unless event.address.nil? || event.address.latitude.nil? %>
	<%= link_to (image_tag "http://maps.googleapis.com/maps/api/staticmap?size=260x180&sensor=false&zoom=5&markers=#{event.address.latitude}%2C#{event.address.longitude}", :border => "0"), event_path(event) %>
	<br/>
	<% end %>
	<div class="caption" style="padding-top:)10px">
		<h3><%= link_to event.name, event_path(event) %></h3>
		
		<h5 style="margin-bottom:5px">
			<% unless event.end_date.nil? &&  event.begin_date.nil? %>
				<% if  event.begin_date.strftime('%d/%m/%Y') == event.end_date.strftime('%d/%m/%Y')  %>
				    <%= "le " + event.begin_date.strftime('%d/%m/%Y')  %>
				  <% else %>
				    <%= "du " + event.begin_date.strftime('%d/%m/%Y') %> au <%= event.end_date.strftime('%d/%m/%Y') %>
				<% end %>
			<% end %>
		</h5>		
		<p><%= raw truncate (sanitize event.description, :tags => %w(h1 a)), :length => 150, :omission => '...' %></p>
		
		<% if event.typology_list.count > 0 &&  event.theme_list.count > 0 %>
		<li class="icon-tags"></li>
		<% end %>
		<% if event.typology_list.count > 0 %>
			<% event.typology_list.each do |t| %>
			 <span class="label" style="line-height:2em"><%= t %></span>
			<% end %>
	    <% end %>
	    <% if event.theme_list.count > 0 %>	
		    <% event.theme_list.each do |t| %>
			 <span class="label label-info" style="line-height:2em"><%= t %></span>
			<% end %>
		<% end %>
		
	</div>
</div>
  <%= link_to 'Voir la fiche', event_path(event), :class => 'btn btn-info', :style => "width:75%;position:relative;left:8%;bottom:15px" %>
</div>
<% end %>

</div>
