<h1>Evènement</h1>
<p>
  <b>Nom de l'évènement</b><br>
  <%= @event.name %>
</p>

<p>
  <b>Date de la manifestation</b><br>
  <%= @event.begin_date %> - <%= @event.end_date %>
</p>

<p>
  <b>Date limite d'inscription</b><br>
  <%= @event.subscibe_limit_date %>
</p>

<p>
  <b>Thématique</b>
  	<%= @event.theme_list.to_s %>
</p>	

<p>
  <b>Typologie</b>
  	<%= @event.typology_list.to_s %>
</p>	

<p>
  <b>Fréquentation</b>
  	<%= @event.attendance %>
</p>

<p>
  <b>Fonctionnement et Description</b><br>
  <%= raw @event.description %>
</p>

<p>
  <b>Contacts</b><br>
  <%= raw @event.contacts %>
</p>

<p>
  <b>Modalités de participation</b><br>
  <%= raw @event.how_to_participate %>
</p>

<p>
  <b>Tarifs</b><br>
  <%= raw  @event.registration_fees %>
</p>

<p>
  <b>Type de participants</b><br>
  <%= raw  @event.participants %>
</p>

<p>
  <b>Evènements rattachés</b><br>
  <%= raw  @event.related_events %>
</p>

<p>
  <b>Information Supplémentaires</b><br>
  <%= raw  @event.infos_extra %>
</p>


<% unless @event.address.nil? || @event.address.latitude.nil? %>
<strong>Adresse :</strong>
<%= @event.address.line1 %>
<%= @event.address.zip + ' ' + @event.address.city %><br/>

<br />

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=440x290&sensor=false&zoom=16&markers=#{@event.address.latitude}%2C#{@event.address.longitude}" %>
<br/>
<% end %>

<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'fol-events'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>



<div class="form-actions">
  <%= link_to 'Retour', events_path, :class => 'btn'  %>
  <%= link_to 'Editer', edit_event_path(@event), :class => 'btn' %>
  <%= link_to 'Supprimer', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
