<h1>Event</h1>


<p>
  <b>Evènement</b><br>
  <%= @event.name %>
</p>

<p>
  <b>Date de la manifestation</b><br>
  <%= @event.begin_date %>
</p>

<p>
  <b>Date limite d'inscription</b><br>
  <%= @event.subscibe_limit_date %>
</p>

<p>
  <b>Lieu de la manifestation</b><br>
</p>

<p>
  <b>Thématique</b>
  	<%= @event.theme_list.to_s %>
</p>	

<p>
  <b>Typologie</b>
  	<%= @event.typology_list.to_s %>
</p>	

<p>
  <b>Fréquentation</b>
  	<%= @event.attendance %>
</p>

<p>
  <b>Fonctionnement et Description</b><br>
  <%= @event.description %>
</p>

<p>
  <b>Contacts</b><br>
  <%= @event.contacts %>
</p>

<p>
  <b>Modalités de participation</b><br>
  <%= @event.how_to_participate %>
</p>

<p>
  <b>Tarifs</b><br>
  <%= @event.registration_fees %>
</p>

<p>
  <b>Type de participants</b><br>
  <%= @event.participants %>
</p>

<p>
  <b>Evènements rattachés</b><br>
  <%= @event.related_events %>
</p>

<p>
  <b>Information Supplémentaires</b><br>
  <%= @event.infos_extra %>
</p>


<% unless @event.address.nil? || @event.address.latitude.nil? %>
<strong>Adresse :</strong>
<%= @event.address.line1 %>
<%= @event.address.zip + ' ' + @event.address.city %><br/>
<br />
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=440x290&sensor=false&zoom=16&markers=#{@event.address.latitude}%2C#{@event.address.longitude}" %>
<br/>
<% end %>

<div class="fb-comments" data-href="http://fol-events.herokuapp.com/events/<%= @event.id %>" data-num-posts="5" data-width="300"></div>
<div id="fb-root"></div>

<div class="form-actions">
  <%= link_to 'Back', events_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
  <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
