<h1><%= @event.name %></h1>
<% if  @event.begin_date.strftime('%d/%m/%Y') == @event.end_date.strftime('%d/%m/%Y')  %>
  <%= "le " + @event.begin_date.strftime('%d/%m/%Y')  %>
<% else %>
  <%= "du " + @event.begin_date.strftime('%d/%m/%Y') %> au <%= @event.end_date.strftime('%d/%m/%Y') %>
<% end %>
<i class="icon-share"></i> <%= link_to "sauver dans mon agenda", :controller => 'events', :action => :show, :format => :ics %> <li class="icon-map-marker"></li> <%= link_to "repérer sur google map", "http://maps.google.com/?ie=UTF8&hq=&ll=#{@event.address.latitude},#{@event.address.longitude}&z=18" %>

<div id="star"></div>
<script>
  $('#star').raty({
  half:  true,
  start: <%= @event.rating_average.to_f %>,
  click: function(score, evt) {
    $.getJSON("/events/rate", {
	      event: 18,
	      rate: score
	    }, function(data) {
	      return alert("ok");
	})
  }
});
</script>




<br/><br/>
<div class="row">
<div class="span4">
    <% unless  @event.subscibe_limit_date.nil? %>
	<p>
	  <b>Date limite d'inscription</b><br>
	  avant le <%= @event.subscibe_limit_date.strftime('%d/%m/%Y') %>
	</p>
    <% end %>
    <% if @event.typology_list.count > 0 %>
	<p><b>Type de salon : </b>
		<% @event.typology_list.each do |t| %>
		 <span class="label" style="line-height:2em"><%= t %></span>
		<% end %>
    </p>
    <% end %>
    <% if @event.theme_list.count > 0 %>
    <p>
	<b>Thémes :</b> 	
	    <% @event.theme_list.each do |t| %>
		 <span class="label label-info" style="line-height:2em"><%= t %></span>
		<% end %>
	</p>
	<% end %>
    <% unless @event.attendance.nil? %>
	<p>
	  <b>Fréquentation :</b>
	    <span class="badge badge-warning"><%= @event.attendance %></span>
	</p>
    <% end %>
	<p>
	  <b>Fonctionnement et Description :</b><br>
	  <%= raw @event.description %>
	</p>

	<p>
	  <b>Contacts :</b><br>
	  <%= raw @event.contacts %>
	</p>

	<p>
	  <b>Modalités de participation :</b><br>
	  <%= raw @event.how_to_participate %>
	</p>
    <% unless @event.registration_fees.nil? && @event.registration_fees == "" %>
	<p>
	  <b>Tarifs :</b><br>
	  <%= raw  @event.registration_fees %>
	</p>
	<% end %>
</div>	

<div class="span4">

	<% unless @event.address.nil? || @event.address.latitude.nil? %>
    <%= link_to (image_tag "http://maps.googleapis.com/maps/api/staticmap?size=440x290&sensor=false&zoom=16&markers=#{@event.address.latitude}%2C#{@event.address.longitude}", :border => "0"), "http://maps.google.com/?ie=UTF8&hq=&ll=#{@event.address.latitude},#{@event.address.longitude}&z=18" %>
    <%= @event.address.line1 %>
	<%= @event.address.zip + ' ' + @event.address.city %><br/><br/>
	<% end %>
	
	<p>
	  <b>Type de participants :</b><br>
	  <%= raw  @event.participants %>
	</p>

	<p>
	  <b>Evènements rattachés : </b><br>
	  <%= raw  @event.related_events %>
	</p>

	<p>
	  <b>Information Supplémentaires :</b><br>
	  <%= raw  @event.infos_extra %>
	</p>
	
</div>
</div>

<div class="form-actions">
  <%= link_to 'Retour', events_path, :class => 'btn'  %>
  <%= link_to 'Editer', edit_event_path(@event), :class => 'btn' %>
  <%= link_to 'Supprimer', event_path(@event), :method => 'delete', :confirm => 'Attention la suppression d\'un évènement n\'est pas réversible. Confirmez-vous la suppression de cette fiche ?', :class => 'btn btn-danger' %>
</div>

<h1>Commentaires</h1>
<% @event.root_comments.each do |c| %>
  <p class="well">
    <%= gravatar_for c.user.email if !c.user.nil?  %>
    <%= c.body %>
    <br/>
	<%= raw "<b>#{c.user.first_name.to_s} #{c.user.last_name.to_s}</b>" unless c.user.nil?  %>
  </p>
<% end %>

<%= form_tag "/events/comment", :class => 'well' do %>
 <%= text_area_tag :body, nil, :style => "width:100%;height:100px" %>
 <%= hidden_field_tag 'event', @event.id %>
 <span class="help-inline">dfsdfsdfgsfdsfqsfgqsfsqdfs sdfdqsfqs sdf sdf sqdf qsdfsdf qsdfsq fqsfqsf !</span><br/>
 <%= submit_tag "Envoyer", :class =>"btn" %>
<% end %>
	
