<article class="ui piled segment">
  
  <% if(themes.length != 0) { %>
    <div class="ui ribbon label">
      <%= themes.join(' | ')%>
    </div>
  <% } %>
  
  <h3><%= types.join(', ') %></h3>
  <h2><%= name %></h2>
  <div class="ui circular segment level<%= time_advert_level %>">
    <h4>
      <% if(time_advert_level === -1) { %>
        évènement passé
      <% } else if(time_advert_level === 0) { %>
        c'est en ce moment
      <% } else if(time_advert_level === 1) { %>
        c'est bientôt
      <% } else if(time_advert_level === 2) { %>
        à venir
      <% } %>
    </h4>
  </div>
  
  <div class="ui basic segment">
    
    <% if(typeof image !== 'undefined') { %>
        <img class="ui rounded image" src="<%= image %>" />
    <% } else { %>
        <div class="ui rounded image fakeimg">
            <p><%= name %></p>
        </div>
    <% } %>
    
    <aside class="ui celled list">
    
      <div class="item">
          <h6 class="header">Dates</h6>
          <span class="content">
            Du <span class="ui label"><%= begin_date.format('D MMMM YYYY') %></span>
            au <span class="ui label"><%= end_date.format('D MMMM YYYY') %></span>
          </span>
      </div>
      <div class="item">
          <h6 class="header">Lieu</h6>
          <span class="content"><%= location %> <a href="#">Voir carte</a></span>
      </div>
    </aside>

    <p class="description"><%= description %></p>
  
    <hr class="ui separator" />
  
    <a href="#evenements/<%= name %>/details"><i class="ui icon plus"></i> Plus d'informations</a>
    
  </div>
  
  <div class="action">
    <a class="item" href=""><i class="edit icon"></i>sauver dans mon agenda</a>
    <a class="item" href=""><i class="marker icon"></i>repérer sur google maps</a>
    <a class="item" href=""><i class="print icon"></i>version imprimable</a>
  </div>
    
</article>
