<article class="ui piled segment">
    <img class="ui image" src="<%= image %>" />
    <h2><%= name %></h2>
    <p class="description"><%= description %></p>
    <aside class="ui celled list">
        <div class="item">
            <h3><i class="ui info icon"></i>Info :</h3>
            <p><%= infos_extra %></p>
        </div>
        <div class="item">
            <h3><i class="ui tag icon"></i>Inscriptions / Résèrvations :</h3>
            <p><%= how_to_participate %></p>
        </div>
        <div class="item">
            <h3><i class="ui inbox icon"></i>Contacts :</h3>
            <p><%= contacts %></p>
        </div>
    </aside>
    <div class="clear"></div>
</article>

<div class="separator">
    <i class="circular large down inverted angle link icon"></i>
    <i class="circular large up inverted double angle link icon"></i>
</div>


