<article class="ui piled segment">
    <% if(typeof image !== 'undefined') { %>
        <img class="ui image" src="<%= image %>" />
    <% } else { %>
        <div class="ui image fakeimg">
            <p><%= name %></p>
        </div>
    <% } %>
    <h2><%= name %></h2>
    <p>
        Du <span class="ui label"><%= begin_date %></span>
        au <span class="ui label"><%= end_date %></span>
    </p>
    <p class="description"><%= description %></p>
    <aside class="ui celled list">
        <div class="item">
            <h3><i class="ui info icon"></i>Info :</h3>
            <p><%= infos.infos_extra %></p>
        </div>
        <div class="item">
            <h3><i class="ui tag icon"></i>Inscriptions / Résèrvations :</h3>
            <p><%= infos.how_to_participate %></p>
        </div>
        <div class="item">
            <h3><i class="ui inbox icon"></i>Contacts :</h3>
            <p><%= infos.contacts %></p>
        </div>
    </aside>
    <div class="clear"></div>
</article>

<div class="separator">
    <i class="circular large down inverted angle link icon"></i>
    <i class="circular large up inverted double angle link icon"></i>
</div>

