<h1>Tags</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Position/Utilisation</th>
      <th>Nom</th>
      <th>Contexte</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="sortable">
    <% @tags.each do |tag| %>
      <tr id="<%= "tag-#{tag.id}" %>">
        <td><i class="icon-move"></i><span style="margin-left:10px" class="label label-info"><%= Event.tagged_with(tag.name).count %> évènement(s)</span></td>
        <td><%= link_to tag.name, tag_path(tag) %></td>
        <td><%= I18n.translate(  tag.context ) %></td>
        <td id="action">
          <%= link_to 'Editer', edit_tag_path(tag), :class => 'btn btn-mini' %>
          <%= link_to 'Supprimer', tag_path(tag), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nouveau', new_tag_path, :class => 'btn btn-primary' %>
