<%= simple_form_for current_user , :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Mon Compte</legend><br/>
    <div class="row">
	 <div class="span4">
    	<%= f.input :first_name, :label => "Prénom" %>
    	<%= f.input :last_name, :label => "Nom" %>
  
    	<%= f.input :email %>
    	<%= f.input :password, :label => "Changer de Password" %>  
     </div> 
     <div class="span4">
	   <%= f.input :phone, :label => "Téléphone" %>
	 </div> 
    </div> 

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary', :value => "Sauver" %>
      <%= link_to 'Annuler', "/dashboard", :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
