<% if @current_user %>
    <h4>
    <%= "Bonjour #{@current_user.first_name + " " + @current_user.last_name }" %></h4>
<% end %>
<div class="hero-unit" style="text-align:center;">
<h2>Agenda participatif des salons et événements littéraires</h2>
<br/>

<% if @current_user %>
	<%= link_to "Continuer", "/dashboard" , :class =>"btn btn-primary btn-large" %>
<% else %>
    <p>
    <iframe src="http://player.vimeo.com/video/40728172" width="500" height="313" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </p><br/>
	<%= form_tag sessions_path,  :class => "form-inline", :style => "vertical-align:middle;"  do %>
		<%= text_field_tag :email, params[:email], :class =>"input-small", "placeholder"=>"Email" %>
	    <%= password_field_tag :password , nil, :class => 'input-small', "placeholder"=>"Password" %>
	    <%= submit_tag "Connexion", :class =>"btn", :style => "top:30px;"  %>
	<% end %>
<% end %>
<br/>
<p style="text-align:center;">
	 Cet outil coopératif permet de repérer les manifestations littéraires adaptées à son catalogue, d'anticiper sa participation aux événements, et de partager son expérience ou sa présence sur place avec les autres membres du réseau. <br/><br/>
	                                                                                                                                                                                                                                                  L'accès est strictement réservé aux adhérents de <b>Fontaine O
	          Livres</b>, le réseau de professionnels du livre du nord-est
	          francilien. <br/><br/>
			  <li class="icon-warning-sign"></li>
	          Si vous avez perdu votre mot de passe, ou pour nous contacter,
	          envoyez un message à <%= link_to "diffusion@fontaineolivres.com", "mailto:diffusion@fontaineolivres.com" %>
</p>
<p>
</p>
</div>