<% if @current_user %>
    <h4>
    <%= "Bonjour #{@current_user.first_name + " " + @current_user.last_name }" %></h4>
<% end %>
<div class="hero-unit" style="text-align:center;">
<h2>Agenda participatif des salons et événements littéraires</h2>
<br/>

<% if @current_user %>
	<%= link_to "Continuer", "/dashboard" , :class =>"btn btn-primary btn-large" %>
<% else %>
	<%= form_tag sessions_path, :html => { :class => "form-inline" } do %>
		<%= text_field_tag :email, params[:email], :class =>"input-small", "placeholder"=>"Email" %>
	    <%= password_field_tag :password %>
	    <%= submit_tag "Connexion", :class =>"btn" %>
	<% end %>
<% end %>

<br/>
<br/>

<p style="text-align:center;">
	 Cet outil coopératif permet de repérer les manifestations littéraires adaptées à son catalogue, d'anticiper sa participation aux événements, et de partager son expérience ou sa présence sur place avec les autres membres du réseau. <br/><br/>
	                                                                                                                                                                                                                                                  L'accès est strictement réservé aux adhérents de <b>Fontaine O
	          Livres</b>, le réseau de professionnels du livre du nord-est
	          francilien. <br/><br/>
			  <li class="icon-warning-sign"></li>
	          Si vous avez perdu votre mot de passe, ou pour nous contacter,
	          envoyez un message à <%= link_to "diffusion@fontaineolivres.com", "mailto:diffusion@fontaineolivres.com" %>
</p>
<p>
</p>
</div>
