<h2>Les prochains Evènements</h2>
<li class="icon-calendar"></li> <%= link_to "Voir tous les Evènements", events_path %><br/><br/>
<div id="events" class="carousel slide span6">
	<div class="carousel-inner">
		<% Event.limit(3).each_with_index do |event, index| %>
		<div class="item <%= "active" if index == 0 %>">
			<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=700x400&sensor=true&zoom=4&markers=#{event.address.latitude}%2C#{event.address.longitude}", :border=>0 %>
			<div class="carousel-caption">
				<h4><%= link_to event.name, event %></h4>
				<p><%= raw event.description %></p>
			</div>
		</div>
		<% end %>
	</div>
	<a class="left carousel-control" href="#events" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#events" data-slide="next">›</a>
	<p>
		<%= link_to 'Créer un nouvel évènement !', new_event_path, :class => 'btn btn-primary', :style => "float:right;margin-top:10px" %>
	</p>
</div>
	
<div class="span4">	
<h3 style="margin-bottom:5px">Les derniers commentaires</h3>
  <% Comment.limit(3).each do |c| %>
   <% unless c.user.nil? %>
	   <%= link_to c.commentable.name, c.commentable %><br/>
	   <p class='well'><%= gravatar_for c.user.email if !c.user.nil?  %><%= c.body %>
	   <br/>
	   <%= raw "<b>#{c.user.first_name.to_s} #{c.user.last_name.to_s}</b>" %>
	   </p>
   <% end %>
  <% end %>
</div>
<div class="span4">
<h3>Fontaine O Tweets</h3>
<div class="twitter"></div>
</div>