<!DOCTYPE html>
<html>
<head>
  <title>Fontaine O Livres</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
	<%= image_tag "logo.jpg" %>
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">×</a>
	    <%= msg %>
	  </div>
	<% end %>
	<div class="row" style="text-align:center;">
      <div class="span12"><%= yield %></div>
    </div>
  </div>
</body>
</html>